.Price{
    text-align: center;
    font-weight: bold;
    
    
}
.Price p {
    text-align: center;
    border: 2px solid black;
    padding: 5px 15px;
    display: inline-block;
    /* margin: 10px; */
}