.Modal{
    position: fixed;
    z-index: 500;
    color: white;
    background-color: rgba(2, 66, 47, 0.97);
    /* background-color: rgba(0, 87, 22, 0.97); */
    width: 70%;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px black;
    padding: 16px 20px;
    left: 15%;
    top: 30%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
    border-radius: 15px;
}

.Modal ul>li {
    list-style-type: none;
    text-transform: capitalize;
}

.Modal ul {
    padding-left: 0;
}

.Modal h3 {
    /* color: green;
    background-color: white;
    padding: 7px; */
    text-align: center;
    border-radius: 2px;
    text-transform: uppercase;
}

@media (min-width: 600px){
    .Modal {
        width: 500px;
        left: calc(50% - 250px);
    }
}